<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<style>
    a {
        text-decoration: none;
        font-size: 14px;
        color: #333;
    }

    li {
        list-style: none;
        display: flex;

        margin-bottom: 10px;
    }


    .calendar-template {
        border: 1px solid dimgray;
        border-radius: 20px;

        max-width: 800px;
        width: 100%;
        height: 250px;

        margin: auto 0;
    }

    .months {
        max-width: 800px;
        width: 100%;
        height: 30px;
        display: flex;

    }

    .days {
        max-width: 800px;
        width: 100%;
        height: 250px;



    }

    .day-label {
        display: flex;

        height: 12px;
    }

    .oneday {
        width: 10px;
        height: 10px;
        border: 1px solid red;

        margin: auto;
    }
    .moreInfo {
        display: flex;
        height: 30px;
    }
    .perImoji {
        margin-left: 360px;
    }
</style>

<script>

</script>
<body>

<section class="calendar-template">
<!--    MONTH-->
    <article class="months">
        <ul class="month">
            <li class="month-label">Apr</li>
        </ul>
        <ul class="month">
            <li class="month-label">May</li>
        </ul>
    </article>

<!--    DAY-->
    <article class="days">
        <ul>
            <li class="day-label">월
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
            </li>
        </ul>

        <ul>
            <li class="day-label">화
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
                <div class="oneday"></div>
            </li>
            <li class="day-label">수
                <div class="oneday"></div>
            </li>
            <li class="day-label">목
                <div class="oneday"></div>
            </li>
            <li class="day-label">금
                <div class="oneday"></div>
            </li>
            <li class="day-label">토
                <div class="oneday"></div>
            </li>
            <li class="day-label">일
                <div class="oneday"></div>
            </li>
        </ul>
    <section class="moreInfo">
        <p>
            <a href="#todo" style="margin-left: 10px">오늘 하루 플랜을 조회하러 가볼까요?</a>
        </p>
        <p class="perImoji" title="완료된 퍼센티지를 보여줍니다.">Less</p>
            <p title="20%완료">🖤</p>
            <p title="40%완료">🤎</p>
            <p title="60%완료">💛</p>
            <p title="80%완료">💙</p>
            <p title="100%완료">💖</p>
        <p class="perImoji2" title="완료된 퍼센티지를 보여줍니다.">More</p>

    </section>
    </article>

</section>
</body>
</html>
