<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap" rel="stylesheet">
    <title>선착순 공동구매</title>
    <style>
        * {
            font-family: 'Gowun Batang', serif;
            color: white;
        }

        body {
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://search.pstatic.net/common/?src=http%3A%2F%2Fimgnews.naver.net%2Fimage%2F001%2F2017%2F08%2F31%2FPYH2017083164540001300_P2_20170831210346447.jpg&type=sc960_832')
        }

        h1 {
            font-weight: bold;
        }

        .order {
            width: 500px;
            margin: 60px auto 0px auto;
            padding-bottom: 60px;
        }

        .mybtn {
            width: 100%;
        }

        .order > table {
            margin: 40px 0;
            font-size: 18px;
        }

        option {
            color: black;
        }
    </style>

    <script>
        $(document).ready(function () {
            show_cheer();
        });

        function show_cheer() {
            $('#cheer-box').empty()
            $.ajax({
                type: 'GET',
                url: '/nationalteam',
                data: {},
                success: function (response) {
                    let rows = response['cheers']
                    for (let i = 0; i < rows.length; i++) {
                        let nickname = rows[i]['nickname']
                        let player = rows[i]['player']
                        let comment = rows[i]['comment']

                        let temp_html = `<tr>
                                            <td>${nickname}</td>
                                            <td>${player}</td>
                                            <td>${comment}</td>
                                        </tr>`
                        $('#cheer-box').append(temp_html)
                    }
                }
            });
        }

        function save_cheer() {
            let nickname = $('#nickname').val()
            let player = $('#player').val()
            let comment = $('#comment').val()

            $.ajax({
                type: 'POST',
                url: '/nationalteam',
                data: {nickname_give: nickname, player_give:player, comment_give: comment},
                success: function (response) {
                    alert(response['msg'])
                    window.location.reload()
                }
            });
        }
    </script>
</head>
<body>
<div class="mask"></div>
<div class="order">
    <h1>2022 대한민국 축구 대표팀을 응원해주세요</h1>
    <h3>선수명단</h3>
    {#    선수명단 작성HTML#}
    <p>
        대한민국의 응원의 힘을 보여주세요!<br/>
        욕설 및 비방 등의 글은 삭제될 수 있습니다.
    </p>
    <div class="order-info">
        <div class="input-group mb-3">
            <span class="input-group-text">닉네임</span>
            <input id="nickname" type="text" class="form-control">
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text" for="player">선수선택</label>
            <select class="form-select" id="player">
                <option selected>--응원할 선수--</option>
                <option value="FW">GK김동준</option>
                <option value="MF">GK김승규</option>
                <option value="DF">GK송범근</option>
                <option value="GK">GK조현우</option>
                <option value="GK">FW조규성</option>
                <option value="GK">FW황의조</option>
                <option value="GK">MF권창훈</option>
                <option value="GK">MF김진규</option>
                <option value="GK">MF나상호</option>
                <option value="GK">MF백승호</option>
                <option value="GK">MF손흥민</option>
                <option value="GK">MF송민규</option>
                <option value="GK">MF이재성</option>
                <option value="GK">MF정우영(알사드)</option>
                <option value="GK">MF정우영(SC프라이부르크)</option>
                <option value="GK">MF황희찬</option>
                <option value="GK">DF권경원</option>
                <option value="GK">DF김민재</option>
                <option value="GK">DF김영권</option>
                <option value="GK">DF김진수</option>
                <option value="GK">DF김태환</option>
                <option value="GK">DF박민규</option>
                <option value="GK">DF박지수</option>
                <option value="GK">DF윤종규</option>
                <option value="GK">DF이재익</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">응원글 남기기</label>
            <textarea class="form-control" id="comment" rows="3"></textarea>
        </div>
        <button onclick="save_cheer()" type="button" class="btn btn-warning mybtn">등록하기</button>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">닉네임</th>
            <th scope="col">선수명</th>
            <th scope="col">코멘트</th>
        </tr>
        </thead>
        <tbody id="cheer-box">
        </tbody>
    </table>
</div>
</body>
</html>
